@font-face {
	font-family: markpro;
	src: url('MarkPro.TTF');
}
::-webkit-scrollbar {
  width: 5px;
   border: 1px solid #1e1b18;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1b18; 
  border: 1px solid #f6f1d1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6f1d1; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f6f1d1; 
}
#bgimg {
	z-index: -1;
	background-image: url(ResponsesBGimg.webp);
	background-size: cover;
	box-shadow: inset 80px 80px 350px 260px rgba(0, 0, 0, 0.6);
}
body {
	background-position: fixed;
	background-size: cover;
	font-size: 20px;
	font-family: markpro;
	background-color:#1e1b18;
}
#mainDiv {
	width: 100%;
	display: flex;
	float: center;
	font-family: markpro;
	font-size: 50px;
	box-shadow: 1px 1px 10px black;
	color: #f6f1d1;
}
#Head {
	position: relative;
	left: 480px;
	top: 5px;
}
#returnhome {
	font-size: 15px;
	float: left;
	padding: 10px;
	border: 2px solid #f6f1d1;
	margin-left: 30px;
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 30px;
	transition: 0.3s;
}
#returnhome:hover {
	color: #1e1b18;
	background-color: #f6f1d1;
	font-weight: bold;
	transform: scale(0.996);
}
#returnhomelink {
	color: #f6f1d1;
}